body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container, .messages-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2, .messages h2 {
    margin-top: 0;
}

.login-container form, .send-message form {
    display: flex;
    flex-direction: column;
}

.login-container form label, .send-message form label {
    margin-top: 10px;
}

.login-container form input, .send-message form select, .send-message form textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.message {
    margin-bottom: 10px;
}

.message p {
    margin: 5px 0;
}
